:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
.caruselColor1 {
  background-image: linear-gradient(60deg, #2a0307, #400368, #2a0307);
}
.caruselColor2 {
  background-image: linear-gradient(60deg, #400368, #2a0307, #400368);
}
.btn-brand {
  background-image: linear-gradient(135deg, #400368 10%, #2a0307 100%);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-brand:hover {
  background-image: linear-gradient(135deg, #2a0307 10%, #400368 100%);
  scale: 1.1;
}
.productImage:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.sub-brand-btn {
  background-image: linear-gradient(135deg, #400368 10%, #2a0307 100%);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sub-brand-btn:hover {
  background-image: linear-gradient(135deg, #2a0307 10%, #400368 100%);
  scale: 1.1;
}
.text-brand {
  background-image: linear-gradient(135deg, #2a0307 10%, #400368 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.server-card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.iconsComment1 {
  color: #400368;
  opacity: 0.5;
}
.iconsComment {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;

  color: #400368;
  opacity: 0.5;
}
.contact {
  background-image: linear-gradient(135deg, #2a0307 10%, #400368 100%);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.footer {
  background-image: linear-gradient(135deg, black 10%, #400368 100%);
  color: #fff;
  padding: 1rem;
}

/* Path: frontend\src\components\Navbar.js */
.navbar {
  background-image: linear-gradient(135deg, #2a0307 10%, #400368 100%);
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Path: frontend\src\components\Navbar.js */
.navbar .navbar-brand {
  background-image: linear-gradient(135deg, #7e09be 10%, #da5b0c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
.navbar .navbar-brand:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}
.navBg2 {
  background-image: linear-gradient(135deg, #2a0307 10%, #400368 100%);
}

.navBg1 {
  background-image: linear-gradient(135deg, #400368 10%, #2a0307 100%);
}

.colorCode {
  background: #0636740b;
}
